<h2>Your conversation with <%= @opposed_user.name %></h2>

<ul>
  <% @conversation.messages.each do |m| %>
    <li><%= m.user.name %>: <%= m.body %></li>
  <% end %>
</ul>

<%= render 'conversations/new_message_form', conversation: @conversation, new_message: @conversation.messages.new %>



